body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 50px ;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    gap: 10px;
    margin: 20px;
    padding: 20px;
}

#results{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    width: 200px;
}

#score{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: azure;
}

